requirement
-1วิชามีหลายห้อง
-ครู1คน ตรวจกระดาษคำตอบหลายแผ่น
-สมศรีสอน 5 ห้อง 40*5 สแกนเป็นpdf แล้วอ่านไฟล์pdf แล้ววิเคราะห์ว่าเป็นของรหัสวิชาอะไร 
รหัสอะไร ห้องไหน
-inputหลายๆแผ่นแล้วอ่านออกมาทีเดียว
-รวมinputเป็นpdfมาให้เรา แล้วเราสแกนทีเดียว

pipeline
pdf >>> image+pages >>> database/folder >>> omr

app
app>>>สร้างเฉลย>>>database>>>process>>>app